* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  justify-content: center;
  color: #ffffff;
  font-size: 1em;
}

.row{
  margin-right: -15px;
  margin-left: -15px;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-right{
  text-align: center;
}


.imagem-linhas{
  background-color: #00B3B5;
  background-image: url(https://immu.manaus.am.gov.br/images/aptimized-png-6A90B71D637ACD4B6D56AF4C41C95011-MzU0UeZS1s$MTUxPLdbPyczLSCzWK8hLBwA=-2185fb31.png);
  background-repeat: repeat-x;
  background-size:contain;
  height: 150px;

}
.imagem-prefeitura{
  top: 30px;
  height: 80px;
  position: relative;
  float: left;
  vertical-align: middle;
  border: 0;

}
div{
  display: block;
}
.imagem-servicos{
  top: 37px;
  height: 80px;
  position:relative;
  float: right;
  right: auto;
  vertical-align: middle;
  border: 0;
}
img{
  vertical-align: middle;
}
img{
  border: 0;
}
  .navbar{
    background-image: url(https://immu.manaus.am.gov.br/images/aptimized-png-1E2E03ED338B9E4E4C2872CAE65E017F-MzU0UeZS1s$MTUxPLdZPS8ysSNQryEsHAA==-870dc341.png);
    background-repeat: repeat-x;
    background-size: contain;
    color: white;
  
  }

.title{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #00696F ;
  font-style: normal;
  font-family: 'Source Code Pro', monospace;
  margin: 20px;
  margin-top: 20px;
}

.campo label{
  font-family:'Nunito', sans-serif;
  font-size: 18px;
  display: block;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  margin: 5px;
  font-size: 18px;
  color: black;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0.2em;
  
}

.campo {
  clear: both;
}
.campo{
  margin-bottom: 1em;
  margin-right: auto;
  ;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="email"], .campo input[type="tel"], .campo input[type="date"], .campo input[type="character"], .campo select{
  box-shadow: 2px 2px 2px rgba(88, 154, 216, 0.363);
  border-style: none;
  text-align: left;


}
div, form{
  text-align: center;

}
option, select{
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  text-align:left;
  
}
  
  

.campo input{
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 300px;
}

.botao{
  border-radius: 0.5em;
  font-size: 1.2em;
  padding: 0.2em 0.6em;
  background: cornflowerblue;
  border: currentColor;
  color: #ffffff;
  margin-bottom: 1em;
  margin-top: 0.5em;
}



.navbar{
  height: 50px ;
  background-repeat: repeat-x;
  background-size: contain;
  background-position-x: right;
  
}

li a{
  display: block;
  text-align: center;

  
}

section{
  text-align: right;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
  display: flexbox;
}


.grupo {
  margin-right: 60px;
  margin-left: 60px;
  margin-top: auto;
  border-radius: 0.5em;
  border: 1px solid #ddd;

}

fieldset{
  margin-left: 60px;
  margin-right:  60px;
  border-radius: 0.5em;
  border: 1px solid #ddd;
  margin-top: 20px;

}
  

.brasao{
  display:inline;
  height: 50px;
}

.footer{
  height: 60px;
  border-top: 1px solid #ddd;
  padding: 20px;
  background-color: white;
}
.faixa-rodape{
  background-image: url(https://immu.manaus.am.gov.br/images/aptimized-png-1E2E03ED338B9E4E4C2872CAE65E017F-MzU0UeZS1s$MTUxPLdZPS8ysSNQryEsHAA==-870dc341.png);
  height: 30px;
  background-size: contain;
  background-repeat: repeat-x;
}




